---
import MainLayout from "../../layouts/main.astro"
import { getEntry } from "astro:content"
import { FormatDate } from "../../Utils"

const { slug } = Astro.params
const entry = await getEntry('blog', slug)
const { Content } = await entry.render()
---

<MainLayout>
  <a class="block py-4" href="/blog">&lt;- back to all blogs</a>
  <h2 class="pb-4">{entry.data.title}</h2>
  <Content />
</MainLayout>
