---
import MainLayout from "../../layouts/main.astro";
import { getEntry } from "astro:content";

const { slug } = Astro.params;
const entry = await getEntry("blog", slug);
const { Content } = await entry.render();
---

<MainLayout>
  <a href="/blog">&lt;- back to all blogs</a>
  <h2>{entry.data.title}</h2>
  <Content />
</MainLayout>
