---
import MainLayout from "../../layouts/main.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import BlogCard from "../../components/blogcard.astro";

const blogposts: CollectionEntry<"blog">[] = (await getCollection("blog")).sort(
  (a: CollectionEntry<"blog">, b: CollectionEntry<"blog">) =>
    b.data.published.valueOf() - a.data.published.valueOf(),
);
---

<MainLayout>
  <h2>THE BLOG</h2>
  <ul>
    {
      blogposts.map((entry, index) => (
        <li>
          <BlogCard entry={entry} index={index} />
        </li>
      ))
    }
  </ul>
</MainLayout>
