---
import MainLayout from "../../layouts/main.astro"
import { getCollection } from "astro:content"
import type { CollectionEntry } from "astro:content"

const blogposts: CollectionEntry<'blog'>[] = (await getCollection('blog')).sort((a: CollectionEntry<'blog'>, b: CollectionEntry<'blog'>) => b.data.published.valudOf() - a.data.pubished.valueOf())

---

<MainLayout>
  <h2>THE BLOG</h2>
  <ul>
    {
    blogposts.map((entry) => (
    <a href={`/blog/${entry.data.slug}`}><li>{entry.data.title}</li></a>  
    ))
    }
  </ul>
</MainLayout>
