@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply m-0 p-0;
    box-sizing: border-box;
  }

  h2 {
    @apply text-3xl py-4 m-0;
  }

  h3 {
    @apply text-2xl py-2;
  }

  a {
  @apply hover:text-amber-600 dark:hover:text-amber-500;
}

  main {
  }

  p {
    @apply py-2;
  }

  pre {
  }

  .toggle:checked + label div:nth-child(1) {
    transform: rotate(45deg) translate(4px, 2px);
  }

  .toggle:checked + label div:nth-child(2) {
    opacity: 0;
  }

  .toggle:checked + label div:nth-child(3) {
    transform: rotate(-45deg) translate(4px, -2px);
  }

  .toggle:checked ~ #mainnav {
    @apply translate-x-0; 
  }
}

@layer blog {
  h3 {
  }
}
