@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply m-0 p-0;
    box-sizing: border-box;
  }

  h2 {
    @apply text-2xl font-bold uppercase pb-2;
  }

  h3 {
    @apply font-bold text-lg pb-2;
  }

  a {
  }

  main {
  }

  p {
  }

  pre {
  }

  .toggle:checked + label div:nth-child(1) {
    transform: rotate(45deg) translate(8px, 7px);
  }

  .toggle:checked + label div:nth-child(2) {
    opacity: 0;
  }

  .toggle:checked + label div:nth-child(3) {
    transform: rotate(-45deg) translate(4px, -4px);
  }

  .toggle:checked ~ #mainnav {
    @apply translate-x-0; 
  }
}

@layer blog {
  h3 {
  }
}
