---
import Layout from "../layouts/main.astro";
import DadJoke from "../components/dadjoke.astro";
import TechNews from "../components/technews.astro";

import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

import Image from "astro/components/Image.astro";
import andrew from "../assets/andrewface.png"
import x from "../assets/x.svg";

const blogposts: CollectionEntry<"blog">[] = (await getCollection("blog"))
.sort(
  (a: CollectionEntry<"blog">, b: CollectionEntry<"blog">) =>
    b.data.published.valueOf() - a.data.published.valueOf(),
)
.filter((post: CollectionEntry<"blog">) => post.data.featured === true);
---

<Layout>
  <section id="hero" class="p-4 h-[300px] rounded-xl
    bg-[url('../assets/gradientbg.jpg')] bg-cover text-white">
    <div>
      <div class="flex">
        <div
          class="my-1 h-14 w-14 bg-[url('../assets/logo440x440white.png')]
          bg-cover"
        >
        </div>
        <div class="px-2 pt-3">
          <span
            class="text-gray-white text-3xl"
            >ANDERW<span class="text-gray-500">the</span>CODER</span
          >
        </div>
      </div>
      <div class="ml-16 flex justify-between">
        <div>
          <h2 class="uppercase text-2xl">welcome to my spot</h2>
          <p class="p-0">this is the front page and there might be mroe there</p>
        </div>
        <div>
          <Image src={andrew} alt="ANDREWtheCODER" class="rounded-full w-[150px] hover:animate-spin" />
        </div>
      </div>
    </div>
  </section>
  <section id="mainsection" class="pt-2 flex flex-col md:flex-row">
    <div>
      <p>I'm Andrew. I am a full stack software developer. I love to solve problems.</p>
      <p>
        I have been in the industry for more than 20 years. Most of my work has been web based,
        but lately I am concentrating on machine learning, neural networks, and artificial intelligence.
      </p>
      <h3>some ways to connect with me!</h3>
      <Image src={x} alt="X" class="w-8 h-8" />
     </div>
    <aside class="p-4 my-4 md:my-0 md:text-xs md:ml-6 text-white
      bg-[url('../assets/gradientbg.jpg')] bg-cover rounded-xl">
      <div id="technews">
        <h3>TECH NEWS</h3>
        <TechNews articles={3} />
        <a href="/technews">See more...</a>
      </div>
    </aside>
  </section>
  <section>
    <div id="dadjoke">
      <h3>Dad Joke</h3>
      <p>
        This is a useless API I wrote in Go for no other reason than to 
        check out Go. The source code for the API is
        <a href="https://github.com/andrewthecodertx/go-dadjokes-api" target="_blank">HERE</a>.
        Instructions for contributing a joke, or getting a random joke are there!
      </p>
      <DadJoke class="" />
    </div>
    <div id="blogs">
      <h3 class="">Featured Blogs</h3>
      <ul>
        {
          blogposts.map((entry, index) => (
            <li class=`py-2 ${index % 2 != 0 ? "" : ""}`>
              <a href=`blog/${entry.data.slug}`>
                {entry.data.title}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </section>
</Layout>
