---
import MainLayout from "../layouts/main.astro";
import DadJoke from "../components/dadjoke.astro";
import TechNews from "../components/technews.astro";
---

<MainLayout>
  <section class="lg:flex">
    <div class="lg:border-r-2 lg:border-t-2 border-gray-300 pr-5">
      <div class="font-bold py-5">
        Lorem ipsum odor amet, consectetuer adipiscing elit. Pulvinar dictum
        condimentum ultrices facilisi montes conubia sapien odio donec. Elit
        consequat vitae mauris commodo arcu tortor vehicula. Mi litora lobortis
        sapien eleifend leo tortor. Asodales iaculis luctus sit ornare
        phasellus. Nisi cursus a himenaeos parturient fames.
      </div>
      <div>
        Lorem ipsum odor amet, consectetuer adipiscing elit. Pharetra egestas
        non nam elit vivamus eros placerat facilisi. Amet aliquet magna; risus
        eget ante vulputate. Vestibulum habitasse metus justo cubilia, sem nec.
        Est aptent habitasse id cubilia curae platea vulputate adipiscing.
        Blandit nisi ultricies aenean ad, nunc velit. Potenti sed maximus
        vulputate fames, hendrerit cubilia orci. Vestibulum morbi quam netus
        vehicula mollis. Dis gravida porta maecenas pulvinar suscipit.
      </div>
    </div>
    <div class="leading-relaxed lg:ml-5 lg:border-t-2 border-gray-300">
      <TechNews />
    </div>
  </section>

  <DadJoke />
</MainLayout>
