---
import MainLayout from "../layouts/main.astro";
import DadJoke from "../components/dadjoke.astro";
import TechNews from "../components/technews.astro";

import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

const blogposts: CollectionEntry<"blog">[] = (await getCollection("blog"))
.sort(
  (a: CollectionEntry<"blog">, b: CollectionEntry<"blog">) =>
    b.data.published.valueOf() - a.data.published.valueOf(),
)
.filter((post: CollectionEntry<"blog">) => post.data.featured === true);
---

<MainLayout>
  <div id="main">
    <h2>welcome to my spot</h2>
    <p>
      Welcome to my corner of the web! I'm Andrew, a software engineer and web/app
      developer with 25 years of experience working across a diverse range of
      languages and platforms. Whether it's building dynamic websites, crafting
      intuitive mobile apps, or diving deep into systems programming, I enjoy
      turning ideas into reality through code.
    </p>
    <p>
      But there's more to me than just tech. I'm also a musician, where I
      channel my creativity into melodies and harmonies. My background in
      theology has provided me with a unique perspective, blending
      analytical thinking with a deep appreciation for the human experience.
      This mix of technology, music, and theology shapes how I approach both
      life and work, always striving for harmony and purpose in everything I
      do.
    </p>
  </div>
  <div id="technews">
    <h3>Tech News</h3>
    <TechNews articles={5} />
    <a href="/technews">See more...</a>
  </div>
  <div id="dadjoke">
    <h3>Dad Joke</h3>
    <DadJoke />
    <p>
      Contribute : <a
        href="https://dadjokes.developersandbox.xyz"
        target="_blank">dadjokes.developersandbox.xyz</a
      >
    </p>
  </div>
  <div id="blogs">
    <h3>Featured Blogs</h3>
    <ul>
      {
        blogposts.map((entry, index) => (
          <li class={index % 2 != 0 ? "bg-gray-400 dark:bg-gray-600" : ""}>
            <a href=`blog/${entry.data.slug}`>
              {entry.data.title}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
  <div id="misc">
    <span>
      <p>this is some text that I have put here to use as a place holder</p>
    </span>
  </div>
</MainLayout>
