---
import Layout from "../layouts/main.astro";
import TechNews from "../components/technews.astro";

const { class: className, ...rest } = Astro.props;
---

<Layout>
  <section class={className} {...rest}>
    <h2><a href="/tech-news">Tech News</a></h2>
    <TechNews articles={10} />
  </section>
</Layout>
