---
import { Image } from "astro:assets"
import type { CollectionEntry } from 'astro:content'

const { entry } = Astro.props

interface Props {
  entry: CollectionEntry<'blog'>
}
---

<Image src={`/public/images/${entry.data.image}`} alt={entry.data.title} width="300" height="150" />
<a href={`/blog/${entry.data.slug}`}><li>{entry.data.title}</li></a>
