---
import type { CollectionEntry } from "astro:content";

const { entry, index } = Astro.props;

interface Props {
  entry: CollectionEntry<"blog">;
  index: number;
}
---

<div class="blogcard">
  <div class="blogcard__title">
    <a href={`/blog/${entry.data.slug}`}>{entry.data.title}</a>
    <p class="blogcard__description">
      {entry.data.description}
    </p>
  </div>
  <div class="blogcard__tags">
    {entry.data.tags.map((tag: string) => <span>{tag}</span>)}
  </div>
</div>
