---
import axios from "axios";
import localdadjoke from "../../data/dadjoke.json";

const { class: className, ...rest } = Astro.props;
const environment = import.meta.env.MODE;

let joke = null;

try {
  if (environment === "development") {
    joke = localdadjoke;
  } else {
    const response = await axios.get(
      "https://dadjokes.developersandbox.xyz/api/v1/random",
    );
    joke = response.data;
  }
} catch (error) {
  joke = null;
}
---

<section class={className} {...rest}>
  {joke ? <p>{joke.joke_text}</p> : <h4>ERROR FETCHING DAD JOKE!</h4>}
</section>
