---
import axios from "axios";

const { class: className, ...rest } = Astro.props;

let joke = null;

try {
  const response = await axios.get(
    "https://dadjokes.developersandbox.xyz/api/v1/random",
  );

  joke = response.data;
} catch (error) {
  return null;
}
---

<section class={className} {...rest}>
  {joke ? <p>{joke.joke_text}</p> : <h4>ERROR FETCHING DAD JOKE!</h4>}
</section>
