---
import axios from "axios";

let joke = null;

try {
  const response = await axios.get(
    "https://dadjokes.developersandbox.xyz/api/v1/random",
  );
  joke = response.data;
} catch (error) {
  return null;
}
---

<section>
  <h3>Dad Joke</h3>
  {joke ? <p>{joke.joke_text}</p> : <p>ERROR FETCHING DAD JOKE</p>}
</section>
