---
import ThemeIcon from "./themeicon.astro"
import NavBar from "./navbar.astro"
---

<header class="bg-gray-100 dark:bg-slate-800">
  <div class="relative z-20 border-b">
    <div class="px-4">
      <div class="flex items-center justify-between">
        <div class="flex relative z-20">
          <ThemeIcon />
          <h1 class="pl-4" id="title">
            <a href="/">
              <span class="font-bold text-slate-800 dark:text-gray-200">ANDREW</span>
              <span class="text-gray-400">the</span>
              <span class="font-bold text-slate-800 dark:text-gray-200">CODER</span>
            </a>
          </h1>
        </div>
        <NavBar />
      </div>
    </div>
  </div>
</header>
