---
import ThemeIcon from "./themeicon.astro"

const menuitems = [
{
 title: "HOME",
 path: "/"
},
{
 title: "ABOUT",
 path: "/about"
},
{
 title: "BLOG",
 path: "/blog"
},
{
 title: "CONTACT",
 path: "/contact"
},
]
---

<header class="bg-gray-50 dark:bg-slate-800">
  <div class="relative z-20 border-b bg-white dark:bg-slate-600">
    <div class="px-6 md:px-12 lg:container lg:mx-auto lg:px-6 lg:py-4">
      <div class="flex items-center justify-between">
        <div class="flex relative z-20">
          <ThemeIcon />
          <h1 class="pl-4" id="title">
            <a href="/">
              <span class="font-bold text-slate-800 dark:text-gray-200">ANDREW</span>
              <span class="text-slate-400">the</span>
              <span class="font-bold text-slate-800 dark:text-gray-200">CODER</span>
            </a>
          </h1>
        </div>

        <div class="flex items-center justify-end border-l lg:border-l-0">
          <input type="checkbox" name="hamburger" id="hamburger" class="peer" hidden>
          <label for="hamburger" class="peer-checked:hamburger block relative z-20 p-6 -mr-6 cursor-pointer lg:hidden">
            <div aria-hidden="true" class="m-auto h-0.5 w-6 rounded bg-slate-800 dark:bg-gray-200 transition duration-300"></div>
            <div aria-hidden="true" class="m-auto mt-2 h-0.5 w-6 rounded bg-slate-800 dark:bg-gray-200 transition duration-300"></div>
          </label>
          <div class="peer-checked:translate-x-0 fixed inset-0 w-[calc(100%-4.5rem)] translate-x-[-100%] bg-white dark:bg-slate-600 border-r shadow-xl transition duration-300 lg:border-r-0 lg:w-auto lg:static lg:shadow-none lg:translate-x-0">
            <div class="flex flex-col h-full justify-between lg:items-center lg:flex-row">
              <ul class="px-6 pt-32 text-slate-800 dark:text-gray-200 space-y-8 md:px-12 lg:space-y-0 lg:flex lg:space-x-12 lg:pt-0">
                {
                  menuitems.map((item, index) => (
                  <li>
                    <a 
                      href={item.path} 
                      class="group relative before:absolute before:inset-x-0 before:bottom-0 before:h-2 before:origin-right before:scale-x-0 before:bg-cyan-100 before:transition before:duration-200 hover:before:origin-left hover:before:scale-x-100">
                      <span class="relative group-hover:text-cyan-800">{item.title}</span>
                    </a>
                  </li>               
                  ))
                }
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
