---
import ThemeIcon from "./themeicon.astro";

const MenuItems = [
  {
    title: "HOME",
    path: "/",
  },
  {
    title: "ABOUT",
    path: "/about",
  },
  {
    title: "BLOG",
    path: "/blog",
  },
  {
    title: "CONTACT",
    path: "/contact",
  },
];
---

<header
  class="fixed top-0 left-0 right-0 flex justify-between
  items-center px-4 bg-gray-200 dark:bg-gray-700"
>
  <div class="flex">
    <ThemeIcon />
    <h1 class="py-2 px-4">
      <a href="/" class="text-gray-700 dark:text-gray-200"
        >ANDERW <span class="text-gray-400">the</span> CODER</a
      >
    </h1>
  </div>
  <input
    type="checkbox"
    id="menuToggle"
    name="menuToggle"
    class="hidden toggle"
  />
  <label for="menuToggle" class="flex flex-col cursor-pointer md:hidden">
    <div
      class="bg-gray-700 dark:bg-gray-200 mb-1 h-1 w-5 transition-transform duration-600"
    >
    </div>
    <div
      class="bg-gray-700 dark:bg-gray-200 mb-1 h-1 w-5 transition-transform duration-600"
    >
    </div>
    <div
      class="bg-gray-700 dark:bg-gray-200 h-1 w-5 transition-transform duration-600"
    >
    </div>
  </label>
  <nav
    class="pt-8 md:pt-0 absolute md:relative h-screen md:h-full w-6/12 md:w-fit
    right-0 top-10 md:top-0 md:left-0 flex flex-col md:flex-row items-center
    space-y-8 md:space-y-0 md:space-x-4 bg-gray-200 dark:bg-gray-700
    translate-x-full md:translate-x-0 transition-transform duration-500"
    id="mainnav"
  >
    {
      MenuItems.map((item) => (
        <a href={item.path} class="text-gray-700 dark:text-gray-200">
          {item.title}
        </a>
      ))
    }
  </nav>
</header>
