---
const MenuItems = [
  {
    title: "HOME",
    path: "/",
  },
  {
    title: "ABOUT",
    path: "/about",
  },
  {
    title: "BLOG",
    path: "/blog",
  },
  {
    title: "CONTACT",
    path: "/contact",
  },
];
---

<nav>
  <ul>
    {
      MenuItems.map((item) => (
        <li>
          <a href={item.path}>
            <span>{item.title}</span>
          </a>
        </li>
      ))
    }
  </ul>
</nav>
