---
import axios from "axios";
import type { Article } from "../Types.ts";
import localnews from "../../data/technews.json";

const { class: className, articles: articlesCount = 3, ...rest } = Astro.props;
const apikey = import.meta.env.NEWSAPI_KEY;
const environment = import.meta.env.MODE;

const fetch_articles = async (): Promise<Article[] | null> => {
  try {
    if(environment === "development") {
      return localnews.articles as Article[]; 
    }

    const response = await axios.get(
      `https://newsapi.org/v2/top-headlines?country=us&category=technology&apiKey=${apikey}`,
    );

    return response.data.articles as Article[];
  } catch (error) {
    throw new Error(error);
    return [];
  }
};

let articles: Article[] = await fetch_articles();

const articlesToDisplay = articles.slice(0, articlesCount);
---

<section class={className} {...rest}>
  {
    articlesToDisplay.length > 0 ? (
      <ul>
        {articlesToDisplay.map((article: Article) => (
          <li class="pb-2 md:pb-4">
            <a
              href={article.url}
              target="_blank"
              class="hover:text-amber-600 dark:hover:text-amber-500"
            >
              {article.title}
            </a>
          </li>
        ))}
      </ul>
    ) : (
      <h4>ERROR FETCHING TECH NEWS!</h4>
    )
  }
</section>
