---
import axios from "axios";
import NodeCache from "node-cache";
import type { Article } from "../Types.ts";

const cache = new NodeCache({ stdTTL: 43200 }); // 12 hours
const apikey = import.meta.env.NEWSAPI_KEY;

let articles: Article[] | null = null;

const fetch_articles = async (): Promise<Article[] | null> => {
  const key = "tech-news";

  let cached_articles: Article[] | undefined = cache.get(key);
  if (cached_articles) {
    return cached_articles;
  }

  try {
    const response = await axios.get(
      `https://newsapi.org/v2/top-headlines?country=us&category=technology&apiKey=${apikey}`,
    );

    let articles = response.data.articles;
    cache.set(key, articles);

    return articles;
  } catch (error) {
    return null;
  }
};

articles = await fetch_articles();
---

<div>
  <h3>Tech News</h3>
  <ul>
    {
      articles ? (
        articles.map((article: Article) => <li>{article.title}</li>)
      ) : (
        <p>CAN'T CONNECT TO NEWS API!</p>
      )
    }
  </ul>
</div>
